html, body, section, article,
h1, h2, h3, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: center;
  color: inherit;
  background-color: rgb(255, 255, 153);
  font-family: 'ABeeZee', sans-serif;
}

.header {
  margin: auto;
  margin-bottom: 15px;
  width: 800px;
}

.beePic {
  width: 7%;
  height: auto;
  display: inline-block;
}

.titles {
  display: inline-block;
}

.main-title {
  display: block;
  font-size: 36px;
}

.subtitle {
  display: block;
  font-size: 20px;
}

.optionBar {
  margin: auto;
  margin-bottom: 5px;
  width: 800px;

}

.infoBar {
  border: 1px solid black;
  margin-bottom: 5px;
  display: inline-block;
  width: 550px;
  height: 20px;
  position: relative;
}

.time {
  display: inline-block;
  width: 272px;
  height:inherit;
}

.timeLabel {
  float:left;
  padding-left: 3px;
}

.distance {
  display: inline-block;
  width: 272px;
  height:inherit;
  border-left: 1px solid black;
}

.distanceLabel {
  float: left;
  padding-left: 3px;
}

.container {
  display: inline-block;
  width: 800px;
  height: 500px;
  position: relative
}

.game-grass {
  position: absolute;
  z-index: 1;
  opacity: .75;
  right:0;
}

.game-canvas {
  position: absolute;
  z-index: 2;
  right:0;
}

.travel-canvas {
  position: absolute;
  z-index: 3;
  right:0;
}

.loader {
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 4;
  top: 250px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #000000, 0 -0.83em 0 -0.42em #FFFF00, 0 -0.83em 0 -0.44em #000000, 0 -0.83em 0 -0.46em #FFFF00, 0 -0.83em 0 -0.477em #000000;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #000000, 0 -0.83em 0 -0.42em #FFFF00, 0 -0.83em 0 -0.44em #000000, 0 -0.83em 0 -0.46em #FFFF00, 0 -0.83em 0 -0.477em #000000;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #000000, -0.087em -0.825em 0 -0.42em #FFFF00, -0.173em -0.812em 0 -0.44em #000000, -0.256em -0.789em 0 -0.46em #FFFF00, -0.297em -0.775em 0 -0.477em #000000;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #000000, -0.338em -0.758em 0 -0.42em #FFFF00, -0.555em -0.617em 0 -0.44em #000000, -0.671em -0.488em 0 -0.46em #FFFF00, -0.749em -0.34em 0 -0.477em #000000;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #000000, -0.377em -0.74em 0 -0.42em #FFFF00, -0.645em -0.522em 0 -0.44em #000000, -0.775em -0.297em 0 -0.46em #FFFF00, -0.82em -0.09em 0 -0.477em #000000;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #000000, 0 -0.83em 0 -0.42em #FFFF00, 0 -0.83em 0 -0.44em #000000, 0 -0.83em 0 -0.46em #FFFF00, 0 -0.83em 0 -0.477em #000000;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #000000, 0 -0.83em 0 -0.42em #FFFF00, 0 -0.83em 0 -0.44em #000000, 0 -0.83em 0 -0.46em #FFFF00, 0 -0.83em 0 -0.477em #000000;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #000000, 0 -0.83em 0 -0.42em #FFFF00, 0 -0.83em 0 -0.44em #000000, 0 -0.83em 0 -0.46em #FFFF00, 0 -0.83em 0 -0.477em #000000;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #000000, -0.087em -0.825em 0 -0.42em #FFFF00, -0.173em -0.812em 0 -0.44em #000000, -0.256em -0.789em 0 -0.46em #FFFF00, -0.297em -0.775em 0 -0.477em #000000;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #000000, -0.338em -0.758em 0 -0.42em #FFFF00, -0.555em -0.617em 0 -0.44em #000000, -0.671em -0.488em 0 -0.46em #FFFF00, -0.749em -0.34em 0 -0.477em #000000;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #000000, -0.377em -0.74em 0 -0.42em #FFFF00, -0.645em -0.522em 0 -0.44em #000000, -0.775em -0.297em 0 -0.46em #FFFF00, -0.82em -0.09em 0 -0.477em #000000;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #000000, 0 -0.83em 0 -0.42em #FFFF00, 0 -0.83em 0 -0.44em #000000, 0 -0.83em 0 -0.46em #FFFF00, 0 -0.83em 0 -0.477em #000000;
  }
}
